Repository OWASP/cornucopia, changes with the owners that CODEOWNERS names for each.
All owners: @rewtd, @sydseter, @cw-owasp

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @rewtd, and @sydseter  will be requested for
# review when someone opens a pull request.
*       @rewtd @sydseter

# Resources added or modified need to be checked by @sydseter
/resources/ @sydseter @rewtd

# Source files (new games) should be reviewed by @cw-owasp
/source/ @cw-owasp @rewtd

/cornucopia.owasp.org @cw-owasp @rewtd @sydseter

Language review of the translations
  README.md
  source/webapp-cards-1.22-en.yaml
  tests/scripts/convert_utest.py
Owners: @rewtd, @sydseter, @cw-owasp

Update webapp-cards-2.1-ru.yaml
  source/webapp-cards-2.1-ru.yaml
Owners: @cw-owasp, @rewtd

Fix font weight issues.
  resources/templates/owasp_cornucopia_webapp_ver_cards_bridge_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_bridge_qr_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_tarot_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_tarot_qr_lang.idml
Owners: @sydseter, @rewtd

Fixing overset text
  resources/templates/owasp_cornucopia_webapp_ver_cards_bridge_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_bridge_qr_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_leaflet_bridge_lang.idml
Owners: @sydseter, @rewtd

Update webapp-cards-2.1-es.yaml
  source/webapp-cards-2.1-es.yaml
Owners: @cw-owasp, @rewtd

fix overset text
  resources/templates/owasp_cornucopia_webapp_ver_leaflet_bridge_lang.idml
Owners: @sydseter, @rewtd

Minor owasp logo size changes.
  resources/templates/owasp_cornucopia_webapp_ver_leaflet_bridge_lang.idml
Owners: @sydseter, @rewtd

Align text
  resources/templates/owasp_cornucopia_webapp_ver_leaflet_bridge_lang.idml
Owners: @sydseter, @rewtd

Add missing tag
  source/webapp-cards-2.1-no_nb.yaml
Owners: @cw-owasp, @rewtd

Add missing tag
  source/webapp-cards-2.1-nl.yaml
Owners: @cw-owasp, @rewtd

Add missing translation tag
  source/webapp-cards-2.1-fr.yaml
  source/webapp-cards-2.1-hu.yaml
Owners: @cw-owasp, @rewtd
