Repository OWASP/cornucopia, changes with the owners that CODEOWNERS names for each.
All owners: @rewtd, @sydseter, @cw-owasp

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @rewtd, and @sydseter  will be requested for
# review when someone opens a pull request.
*       @rewtd @sydseter

# Resources added or modified need to be checked by @sydseter
/resources/ @sydseter @rewtd

# Source files (new games) should be reviewed by @cw-owasp
/source/ @cw-owasp @rewtd

/cornucopia.owasp.org @cw-owasp @rewtd @sydseter

Update index.md
  cornucopia.owasp.org/data/news/20250216-owasp-cornucopia-website-app-21-mobile-app11/index.md
Owners: @cw-owasp, @rewtd, @sydseter

Update package.json
  cornucopia.owasp.org/package.json
Owners: @cw-owasp, @rewtd, @sydseter

dev server is not used when publishing static projects.
  cornucopia.owasp.org/package.json
Owners: @cw-owasp, @rewtd, @sydseter

Support the test decks with the old QR code and fix a issue with the low case redirect.
  cornucopia.owasp.org/script/nonce-worker.js
  cornucopia.owasp.org/svelte.config.js
Owners: @cw-owasp, @rewtd, @sydseter

cleanup.
  cornucopia.owasp.org/script/nonce-worker.js
Owners: @cw-owasp, @rewtd, @sydseter

Response can be const.
  cornucopia.owasp.org/script/nonce-worker.js
Owners: @cw-owasp, @rewtd, @sydseter

Add the also the first article here.
  cornucopia.owasp.org/data/news/20240610-owasp-cornucopia/dly8j37to2f6czbt5ely.jpg
  cornucopia.owasp.org/data/news/20240610-owasp-cornucopia/eurilof1q1akw84nvgq4.jpg
  cornucopia.owasp.org/data/news/20240610-owasp-cornucopia/index.md
  cornucopia.owasp.org/data/news/20240610-owasp-cornucopia/vz2i6z6zyzyleuq6d2gx.jpg
  cornucopia.owasp.org/data/news/20240610-owasp-cornucopia/wf2dyo10lxf6jaacumlr.jpg
  cornucopia.owasp.org/data/news/20240610-owasp-cornucopia/xrl8t596c3ejyogw8qrn.png
  cornucopia.owasp.org/src/lib/components/renderers/heading.svelte
  cornucopia.owasp.org/static/css/base.css
Owners: @cw-owasp, @rewtd, @sydseter

Rename article to match name
  cornucopia.owasp.org/data/news/20240609-owasp-cornucopia20/dly8j37to2f6czbt5ely.jpg
  cornucopia.owasp.org/data/news/20240609-owasp-cornucopia20/eurilof1q1akw84nvgq4.jpg
  cornucopia.owasp.org/data/news/20240609-owasp-cornucopia20/index.md
  cornucopia.owasp.org/data/news/20240609-owasp-cornucopia20/vz2i6z6zyzyleuq6d2gx.jpg
  cornucopia.owasp.org/data/news/20240609-owasp-cornucopia20/wf2dyo10lxf6jaacumlr.jpg
  cornucopia.owasp.org/data/news/20240609-owasp-cornucopia20/xrl8t596c3ejyogw8qrn.png
  cornucopia.owasp.org/data/website/phrases/en/news.json
Owners: @cw-owasp, @rewtd, @sydseter

Ensure text on front page has correct styling
  cornucopia.owasp.org/src/lib/components/hero/heroText.svelte
Owners: @cw-owasp, @rewtd, @sydseter

Fix title metadata
  cornucopia.owasp.org/data/website/phrases/en/layout.json
  cornucopia.owasp.org/data/website/phrases/es/layout.json
  cornucopia.owasp.org/src/app.html
  cornucopia.owasp.org/src/lib/components/metadata.svelte
  cornucopia.owasp.org/src/routes/rss.xml/+server.ts
Owners: @cw-owasp, @rewtd, @sydseter

Update README.md
  README.md
Owners: @rewtd, @sydseter

Add the site to bing search
  cornucopia.owasp.org/src/app.html
Owners: @cw-owasp, @rewtd, @sydseter

Improve seo by adding descriptions, titles and alt tags.
  cornucopia.owasp.org/data/website/pages/about/en/index.md
  cornucopia.owasp.org/data/website/pages/questionsandanswers/en/index.md
  cornucopia.owasp.org/data/website/pages/roadmap/en/index.md
  cornucopia.owasp.org/data/website/phrases/en/layout.json
  cornucopia.owasp.org/data/website/phrases/es/layout.json
  cornucopia.owasp.org/src/app.html
  cornucopia.owasp.org/src/error.html
  cornucopia.owasp.org/src/lib/components/ASVSOverview.svelte
  cornucopia.owasp.org/src/lib/components/MASVSOverview.svelte
  cornucopia.owasp.org/src/lib/components/attacks.svelte
  cornucopia.owasp.org/src/lib/components/author.svelte
  cornucopia.owasp.org/src/lib/components/blogpostMetadata.svelte
  cornucopia.owasp.org/src/lib/components/breadcrumbs.svelte
  cornucopia.owasp.org/src/lib/components/cardBrowser.svelte
  cornucopia.owasp.org/src/lib/components/cardFound.svelte
  cornucopia.owasp.org/src/lib/components/cardPreview.svelte
  cornucopia.owasp.org/src/lib/components/cardVendor.svelte
  cornucopia.owasp.org/src/lib/components/footer.svelte
  cornucopia.owasp.org/src/lib/components/hero/chevron.svelte
  cornucopia.owasp.org/src/lib/components/hero/heroText.svelte
  cornucopia.owasp.org/src/lib/components/mappingsList.svelte
  cornucopia.owasp.org/src/lib/components/metadata.svelte
  cornucopia.owasp.org/src/lib/components/renderers/heading.svelte
  cornucopia.owasp.org/src/lib/components/textImage.svelte
  cornucopia.owasp.org/src/lib/components/viewSourceOnGithub.svelte
  cornucopia.owasp.org/src/routes/+error.svelte
  cornucopia.owasp.org/src/routes/+page.svelte
  cornucopia.owasp.org/src/routes/404.html
  cornucopia.owasp.org/src/routes/author/[name]/+page.svelte
  cornucopia.owasp.org/src/routes/cards/+page.svelte
  cornucopia.owasp.org/src/routes/news/+page.svelte
  cornucopia.owasp.org/src/routes/news/[slug]/+page.svelte
  cornucopia.owasp.org/src/routes/rss.xml/+server.ts
  cornucopia.owasp.org/src/routes/swags/+page.svelte
  cornucopia.owasp.org/src/routes/taxonomy/+page.svelte
  cornucopia.owasp.org/src/routes/taxonomy/[...path]/+page.svelte
  cornucopia.owasp.org/src/routes/webshop/+page.svelte
Owners: @cw-owasp, @rewtd, @sydseter

Add bing xml for crawling and robot.txt
  cornucopia.owasp.org/static/BingSiteAuth.xml
  cornucopia.owasp.org/static/robot.txt
Owners: @cw-owasp, @rewtd, @sydseter

Adding security.txt
  cornucopia.owasp.org/static/.well-known/security.txt
Owners: @cw-owasp, @rewtd, @sydseter

fix duplicate alt
  cornucopia.owasp.org/src/routes/author/[name]/+page.svelte
Owners: @cw-owasp, @rewtd, @sydseter

Update +page.svelte
  cornucopia.owasp.org/src/routes/+page.svelte
Owners: @cw-owasp, @rewtd, @sydseter

Add canonical links to reduce the number of pages in search results. Correct name of robots.txt and cleanup non-used csp
  cornucopia.owasp.org/package.json
  cornucopia.owasp.org/src/routes/404.html
  cornucopia.owasp.org/src/routes/404/+page.svelte
  cornucopia.owasp.org/src/routes/author/[name]/+page.svelte
  cornucopia.owasp.org/src/routes/cards/[card]/+page.svelte
  cornucopia.owasp.org/src/routes/how-to-play/+page.svelte
  cornucopia.owasp.org/src/routes/news/[slug]/+page.svelte
  cornucopia.owasp.org/src/routes/roadmap/+page.svelte
  cornucopia.owasp.org/src/routes/swags/+page.svelte
  cornucopia.owasp.org/src/routes/taxonomy/+page.svelte
  cornucopia.owasp.org/src/routes/taxonomy/[...path]/+page.svelte
  cornucopia.owasp.org/static/robots.txt
  cornucopia.owasp.org/svelte.config.js
Owners: @cw-owasp, @rewtd, @sydseter

Add ru files identical to en
  source/against-appsec-1.00-ru.yaml
  source/against-security-1.00-ru.yaml
  source/eop-cards-1.0-ru.yaml
  source/mobileapp-cards-1.0-ru.yaml
  source/mobileapp-cards-1.00-ru.yaml
  source/mobileapp-cards-1.1-ru.yaml
  source/webapp-cards-1.22-ru.yaml
  source/webapp-cards-2.00-ru.yaml
  source/webapp-cards-2.1-ru.yaml
Owners: @cw-owasp, @rewtd

Add ru language to mappings
  source/eop-mappings-1.0.yaml
  source/mobileapp-mappings-1.1.yaml
  source/webapp-mappings-1.22.yaml
  source/webapp-mappings-2.00.yaml
Owners: @cw-owasp, @rewtd

Add ru utranslation
  source/against-appsec-1.00-ru.yaml
  source/against-security-1.00-ru.yaml
  source/eop-cards-1.0-ru.yaml
  source/mobileapp-cards-1.0-ru.yaml
  source/mobileapp-cards-1.00-ru.yaml
  source/mobileapp-cards-1.1-ru.yaml
  source/webapp-cards-1.22-ru.yaml
  source/webapp-cards-2.00-ru.yaml
  source/webapp-cards-2.1-ru.yaml
Owners: @cw-owasp, @rewtd

Add cre mapping for website app
  source/webapp-mappings-2.1.yaml
Owners: @cw-owasp, @rewtd

Add quotes around id's prefixed with 0
  source/webapp-mappings-2.1.yaml
Owners: @cw-owasp, @rewtd

Removing Fivo and Adkinson font to use Noto instead to support Russian. Updating the website with the new release.
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/run-tests-generate-output.yaml
  CHANGELOG.md
  README.md
  cornucopia.owasp.org/data/website/pages/printing/en/index.md
  resources/templates/Fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.otf
  resources/templates/Fonts/FivoSans/FivoSans-Bold-Oblique.otf
  resources/templates/Fonts/FivoSans/FivoSans-Bold.otf
  resources/templates/Fonts/FivoSans/FivoSans-Light.otf
  resources/templates/Fonts/FivoSans/FivoSans-Medium.otf
  resources/templates/Fonts/FivoSans/FivoSans-Regular.otf
  resources/templates/Fonts/FivoSans/OFL.txt
  resources/templates/Fonts/README.md
  resources/templates/Links/cornucopia_mobileapp/cornocopia masvs back of card elements tarrot.svg
  resources/templates/Links/cornucopia_mobileapp/cornocopia masvs back of card elements.svg
  resources/templates/Links/cornucopia_webapp/cornocopia website app back of card elements tarrot.svg
  resources/templates/Links/cornucopia_webapp/cornocopia website app back of card elements v2.svg
  resources/templates/owasp_cornucopia_mobileapp_ver_cards_bridge_lang.idml
  resources/templates/owasp_cornucopia_mobileapp_ver_cards_bridge_qr_lang.idml
  resources/templates/owasp_cornucopia_mobileapp_ver_cards_tarot_lang.idml
  resources/templates/owasp_cornucopia_mobileapp_ver_cards_tarot_qr_lang.idml
  resources/templates/owasp_cornucopia_mobileapp_ver_leaflet_bridge_lang.idml
  resources/templates/owasp_cornucopia_mobileapp_ver_leaflet_tarot_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_bridge_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_bridge_qr_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_tarot_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_cards_tarot_qr_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_leaflet_bridge_lang.idml
  resources/templates/owasp_cornucopia_webapp_ver_leaflet_tarot_lang.idml
  scripts/convert.py
  source/mobileapp-mappings-1.1.yaml
  source/webapp-mappings-2.1.yaml
Owners: @rewtd, @sydseter, @cw-owasp

Adding missing fonts. Correcting README and print instructions.
  README.md
  cornucopia.owasp.org/data/website/pages/printing/en/index.md
  resources/templates/Fonts/NotoSans/NotoSans-ExtraBold.ttf
  resources/templates/Fonts/NotoSans/NotoSans-Italic.ttf
  resources/templates/Fonts/NotoSans/NotoSans-Light.ttf
  resources/templates/Fonts/NotoSans/NotoSans-Medium.ttf
  resources/templates/Fonts/NotoSans/NotoSans-MediumItalic.ttf
  resources/templates/Fonts/NotoSans/NotoSans-Regular.ttf
  resources/templates/Fonts/NotoSans/NotoSans-SemiBoldItalic.ttf
Owners: @rewtd, @sydseter, @cw-owasp

Adding complete whitelist for western and non-western characters. Do not use Russian word for Joker for now.
  scripts/convert.py
  source/webapp-cards-2.00-ru.yaml
  tests/scripts/convert_utest.py
Owners: @rewtd, @sydseter, @cw-owasp

Correct style
  tests/scripts/convert_utest.py
Owners: @rewtd, @sydseter

Update nonce-worker.js
  cornucopia.owasp.org/script/nonce-worker.js
Owners: @cw-owasp, @rewtd, @sydseter

Update nonce-worker.js
  cornucopia.owasp.org/script/nonce-worker.js
Owners: @cw-owasp, @rewtd, @sydseter

Update nonce-worker.js
  cornucopia.owasp.org/script/nonce-worker.js
Owners: @cw-owasp, @rewtd, @sydseter

Update app.html
  cornucopia.owasp.org/src/app.html
Owners: @cw-owasp, @rewtd, @sydseter

Fix typo in ru translation (session management wording)
  source/webapp-cards-1.22-ru.yaml
  source/webapp-cards-2.00-ru.yaml
  source/webapp-cards-2.1-ru.yaml
Owners: @cw-owasp, @rewtd

Adding api to export the decks to opencre
  cornucopia.owasp.org/data/mock/cards.yaml
  cornucopia.owasp.org/data/mock/mapping.yaml
  cornucopia.owasp.org/script/headers-stage.js
  cornucopia.owasp.org/script/headers.js
  cornucopia.owasp.org/src/domain/cre/creController.test.ts
  cornucopia.owasp.org/src/domain/cre/creController.ts
  cornucopia.owasp.org/src/domain/mapping/mappingController.ts
  cornucopia.owasp.org/src/domain/suit/suitController.ts
  cornucopia.owasp.org/src/lib/services/deckService.test.ts
  cornucopia.owasp.org/src/lib/services/deckService.ts
  cornucopia.owasp.org/src/routes/api/cre/[edition]/[lang]/+server.ts
  cornucopia.owasp.org/svelte.config.js
  source/webapp-cards-1.22-pt_pt.yaml
  source/webapp-cards-2.00-pt_pt.yaml
  source/webapp-cards-2.1-pt_pt.yaml
Owners: @cw-owasp, @rewtd, @sydseter

Add meta information.
  cornucopia.owasp.org/src/domain/cre/creController.ts
  cornucopia.owasp.org/src/domain/mapping/mappingController.ts
Owners: @cw-owasp, @rewtd, @sydseter

Update webapp-cards-2.1-en.yaml
  source/webapp-cards-2.1-en.yaml
Owners: @cw-owasp, @rewtd

Update deckService.ts
  cornucopia.owasp.org/src/lib/services/deckService.ts
Owners: @cw-owasp, @rewtd, @sydseter

Ensuring the section name is correctly translated.
  cornucopia.owasp.org/src/domain/card/card.ts
  cornucopia.owasp.org/src/domain/cre/creController.ts
  cornucopia.owasp.org/src/lib/services/deckService.ts
Owners: @cw-owasp, @rewtd, @sydseter

Correct the name field
  cornucopia.owasp.org/src/domain/cre/creController.ts
Owners: @cw-owasp, @rewtd, @sydseter

Create a id for each document.
  cornucopia.owasp.org/src/domain/cre/creController.ts
Owners: @cw-owasp, @rewtd, @sydseter

Adding a id that is globally unique.
  cornucopia.owasp.org/src/domain/cre/creController.ts
Owners: @cw-owasp, @rewtd, @sydseter
